/* The side navigation menu */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.navkiri {
  height: 100vh; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #2F669F; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 90px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the navkiri */
}

/* The navigation menu links */
.navkiri a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.navkiri a:hover {
  color: white;
  background: black;
}
.navkiri :hover {
  color: white;
}

/* Position and style the close button (top right corner) */
.navkiri .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  transition: margin-right .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the navkiri (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .navkiri {padding-top: 15px;}
  .navkiri a {font-size: 18px;}
}
#navbar {
  transition: margin-left .5s;
}
.container{
	border-style: solid;
	border-color: transparent;
	margin-top: 0px;

}
.dash{
	background: white;
	padding-bottom: 150px;
}
.active{
	background: #EAEDF2;
	color: black;
}
.at a:hover{
	background: transparent;
}
.tab{
	border-color: transparent;
	margin-left: -20px;
	background: white;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue;
  width: 400px;
}
input:focus {
  border-color: green
}