.container
{
	border-style: solid;
	border-color: black;
	margin-top: 10px;
}
.profile{
  		min-width: 10px;
  		
  		background-color: #8DB3DA;
  		padding-top: 20px;
  		margin-top: 20px;

  	}
    .field-wel{
      min-width: 20px;
      max-width: 200px;
      min-height: 20px;
      background-color: white;
      border-radius: 7px;
      margin-top: 20px;
      padding-top:1px;
      padding-bottom: 1px;
      font-family: "Calibri", Times, sans-serif;
    }
    .field-menu{
      background: white;
      min-width: 30px;
      max-width: 280px;
      min-height: 200px;
      border-radius: 0px;
      margin-top: 15px;
      border-color: grey;
      font-family: "Calibri", Times, sans-serif;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-bottom: 30px;
    }
    .circle {
      width: 100px;
      height: 100px;
      background: white;
      border-radius: 50%
    }
    .test{
      background: black
    }